{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lora:wght@500;600&display=swap" rel="stylesheet">  
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'CSS/index.css' %}">
</head>
<body>
    <section class="hero">
        <div class="hero-content">
            <nav class="hero-assistance">
                <a class="cta-btn">Ayuda</a>
                <a class="cta-btn">Contacto</a>
            </nav>
            <h1 class="hero-title">¡Bienvenido a Impulsa Local!</h1>
            <p>El portal de apoyo para emprendedores de Ciudad Nueva</p>
            <div class="hero-interactive">
                <a class="cta-btn">Iniciar sesion</a>
                <a href="{% url 'registro' %}" class="cta-btn">Registrarse</a>
            </div>
        </div>
    </section>
</body>
</html>