{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lora:wght@500;600&display=swap" rel="stylesheet">  
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'CSS/registro-emprendedor.css' %}">
</head>
<body>
    <section class="hero">
        <div class="hero-content">            
            <h1 class="hero-title">Crea tu cuenta de emprendedor</h1>            
            <div class="hero-form">
                <form>
                    <input type="text" name="name" id="name" placeholder="Ingresa tu nombre completo" size="30px" maxlength="100">
                    <input type="text" name="name" id="name" placeholder="Ingresa el nombre de tu emprendimiento" size="30px" maxlength="100">
                    <input type="text" name="name" id="name" placeholder="Ingresa tu cédula o NIT" size="30px" maxlength="100">
                    <input type="text" name="name" id="name" placeholder="Ingresa tu correo electrónico" size="30px" maxlength="100">
                    <input type="text" name="name" id="name" placeholder="Ingresa tu teléfono" size="30px" maxlength="100">
                    <input type="text" name="name" id="name" placeholder="Ingresa tu contraseña" size="30px" maxlength="100">
                </form>
                <button class="cta-btn">Registrarse</button>
            </div>
        </div>
    </section>
</body>
</html>